
<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 border-top">
    <div class="col mb-3 footer__logo">
        <a href="/" id="footer_section" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
            <b class="me-2">e-Consultation</b>
        </a>
        <p>&copy; 2024</p>
    </div>

    <div class="col mb-3 footer__categories">
        <h4>Company</h4>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">About us</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">How it works</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">FAQs</a></li>
        </ul>
    </div>

    <div class="col mb-3 footer__categories">
        <h4>Resources</h4>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Our Doctors</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Specialties</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Video Consultation</a></li>
        </ul>
    </div>

    <div class="col mb-3 footer__categories">
        <h4>Contact and More</h4>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Contact Us</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Blog and News</a></li>
        </ul>
    </div>

</footer>