
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-decoration-none logo_name">
        e-Consultation
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a style="font-size: 15px; font-weight: 800;" href="#" class="nav-link px-2 link-secondary">Biz haqimizda</a></li>
        <li><a style="font-size: 15px; font-weight: 800;" href="#" class="nav-link px-2 link-dark">Xizmatlar</a></li>
        <li><a style="font-size: 15px; font-weight: 800;" href="#" class="nav-link px-2 link-dark">FAQs</a></li>
        <li><a style="font-size: 15px; font-weight: 800;" href="{% url 'page:aptekar'%}" class="nav-link px-2 link-dark"><b style="color: #000;">Apte</b><b style="color: #ffb200;">Kar</b></a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2">Kirish</button>
        <button type="button" class="btn btn-primary">Ro‘yxatdan o‘tish</button>
      </div>
      
    </header>
</div>